# =========================================================
# GIT
# =========================================================

.git/
.gitignore
.gitattributes

# =========================================================
# IDE
# =========================================================

.idea/
.vscode/

# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
venv-*/

.ruff_cache/
.mypy_cache/
.pyright/
.pyrightcache/
.pytest_cache/
.tox/
.nox/

# =========================================================
# DJANGO
# =========================================================

staticfiles/
media/
mediafiles/

db.sqlite3
db.sqlite3-journal

# =========================================================
# TEST / COVERAGE
# =========================================================

.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db
Desktop.ini

# =========================================================
# TEMPORARY / LOGS
# =========================================================

*.log
*.tmp
*.temp
